<?xml version="1.0" ?>
<launch>

  <arg name="param_file_name"          default="parameters"/>
  <!-- Launch file for DS controller -->
  <!-- <arg name="ROBOT_NAME"                         default="icubSim" /> -->
  <arg name="TOPIC_OBJECT_POSE"           default="/simo_track/object_pose"/>
  <arg name="TOPIC_LEFT_ROBOT_BASE_POSE"  default="/simo_track/robot_left/pose"/>
  <arg name="TOPIC_LEFT_ROBOT_EE_POSE"    default="/simo_track/robot_left/ee_pose"/>
  <arg name="TOPIC_LEFT_ROBOT_COMMANDS"   default="/iiwa1/CustomControllers/command"/>

  <arg name="TOPIC_RIGHT_ROBOT_BASE_POSE" default="/simo_track/robot_right/pose"/>
  <arg name="TOPIC_RIGHT_ROBOT_EE_POSE"   default="/simo_track/robot_right/ee_pose"/>
  <arg name="TOPIC_RIGHT_ROBOT_COMMANDS"  default="/iiwa_blue/CustomControllers/command"/>
 
  <group ns="/dual_arm">
    <!-- Converting args into params -->
    <param name="topic_pose_object"             value="$(arg TOPIC_OBJECT_POSE)"             />
    <param name="topic_pose_robot_base_left"    value="$(arg TOPIC_LEFT_ROBOT_BASE_POSE)"    />
    <param name="topic_pose_robot_ee_left"      value="$(arg TOPIC_LEFT_ROBOT_EE_POSE)"    />
    <param name="topic_ee_commands_left"        value="$(arg TOPIC_LEFT_ROBOT_COMMANDS)"     />
    <param name="topic_pose_robot_base_right"   value="$(arg TOPIC_RIGHT_ROBOT_BASE_POSE)"   />
    <param name="topic_pose_robot_ee_right"     value="$(arg TOPIC_RIGHT_ROBOT_EE_POSE)"   />
    <param name="topic_ee_commands_right"       value="$(arg TOPIC_RIGHT_ROBOT_COMMANDS)"    />

    <!-- <rosparam command="load" file="$(find dual_arm_control)/config/$(arg param_file_name).yaml"/> -->
    <rosparam file="$(find dual_arm_control)/config/$(arg param_file_name).yaml" command="load"/>
    <node name="dual_arm_control_node" pkg="dual_arm_control" type="dual_arm_control_node" output="screen"/>
  </group>


</launch>